{% extends 'base.html.twig' %}

{% block title %}New Control
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-6 mx-auto">

			<h1>Ajout Controller</h1>

			{{ include('control/_form.html.twig') }}
		</div>
	</div>
{% endblock %}

