{% extends 'base.html.twig' %}

{% block title %}New Fonc
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-6 mx-auto">

			<h1>Nouvelle Fonctionnalité</h1>
           {{ include('fonc/_form.html.twig') }}
			

		</div>
	</div>

{% endblock %}

