{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
<section>
      <section class="wrapper">
		 
		  
	<div class="row">
		<div class="col-6 mx-auto">
			<h2>Question à Envoyer</h2>

			{{ form_start(form) }}
			{{ form_row(form.Question) }}
			{{ form_row(form.Responsable) }}
			<div class="modal-footer compose-btn float-right">
				<button class="btn btn-theme btn-sm" formnovalidate>
					<i class="fa fa-share"></i>
					Envoyer</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
	</section>
      <!-- /wrapper -->
    </section>
{% endblock %}

