{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
<section>
      <section class="wrapper">
		 
		  
	<div class="row">
		<div class="col-6 mx-auto">
			<h2>Question à Envoyer</h2>
      {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="modal-footer compose-btn float-right">
                <button type="submit" class="btn btn-sm btn-theme"><i class="fa fa-rocket"></i> Envoyer</button>
              </div>
     {{ form_end(form) }}
     </div>
	</div>
  </section>
      <!-- /wrapper -->
    </section>
{% endblock %}




