{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

<div class="row">
    <div class="col-6 mx-auto">
    <h2>Gestion de Rôle</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
         <div class="modal-footer compose-btn float-right">
				<button class="btn btn-theme btn-sm" formnovalidate>Enregistré</button>
			</div>
    {{ form_end(form) }}
   </div>
</div>
    
{% endblock %}

