<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body id="page-top">

		De
		<strong class="text-primary">testemailappsoi2@gmail.com</strong>
		à
		<p>[{{Email}}
			]</p>
		<p>AppSoi Gestion Incident:
		</p>
		<p>Ce Liens est valable 5 jours et ne peut être utilisé que 3 fois:</p>
		</a>{{Liens}}</a>
	</body>
</html>