<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body id="page-top">

		De
		<strong class="text-primary">{{ De }}</strong>
		à
		<p>[{{Email}}
			]</p>
		<p>Question :
			{{Question}}
		</p>
	</body>
</html>

